* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

/* Raleway Font */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Raleway', sans-serif;
}

.header {
    /* height: 50vh; */
    /* background-color: aqua; */
    display: flex;
}

.container {
    margin: 1.3rem;
    position: relative;
}

.info {
    margin: 1em;
    padding: 1.2em;
}

.info > p {
    margin-top: 10px;
    padding-left: 10px;
}
.nav {
    margin: 10px;
    margin-right: 5.2em;
}

.nav > ul {
    display: flex;
    gap: 0.5em;
    justify-content: end;
    align-items: end;
}

.small-icon:hover {
    transform: scale(1.2);
    transition: all 1.2s ease-in-out;
    cursor: pointer;
}

.project-img {
    width: 200px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(400px,1fr));
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
}

h2 {
    margin: 2em;
}



.small-icon {
    width: 20px;
}

.profile {
    width: 200px;
}
.text {
    position: absolute;
    bottom: 0.6em;
    left: 4.5em;
    padding: 5px;
    color: white;
    font-size: 24px;
}


@media (max-width: 600px) {
    .header {
        flex-direction: column;
    }
    .nav {
        margin-right: 0em;
    }
}